<div>
	<div class="btn-group mb-2">
		<wo:if condition="$^disableObjectSelection" negate="$true"><wo:link action="$selectObject" class="btn btn-sm btn-outline-secondary">Tengja færslu</wo:link> </wo:if>
		<wo:link action="$createObject" class="btn btn-sm btn-outline-secondary">Stofna nýja tengda færslu</wo:link>
	</div>
	<wo:if condition="$destinationObject">
		<table class="table table-sm">
			<tr>
				<td width="100px">
					<div class="btn-group">
						<button class="btn btn-sm dropdown-toggle" data-bs-toggle="dropdown"></button>
						<div class="dropdown-menu">
							<wo:link action="$removeObject" class="dropdown-item">Aftengja</wo:link>
							<div class="dropdown-divider"></div>
							<wo:EditLink object="$destinationObject" class="dropdown-item">Opna í stjórnkerfi</wo:EditLink>
							<wo:ViewLink object="$destinationObject" class="dropdown-item">Opna á vefnum</wo:ViewLink>
						</div>
					</div>
				</td>
				<td><wo:EditLink object="$destinationObject"><wo:IMString value="$displayString" valueWhenEmpty="Ekkert valið"/></wo:EditLink></td>
			</tr>
		</table>
	</wo:if>
</div>