<wo:USEditLook>
	<style>
		th {
			text-transform: none !important;
		}
	</style>
	<div class="row">
		<div class="col-md-12">
			<div class="card">
				<div class="card-header">
					<h3 class="card-title"><wo:str value="$sourceEntityName" /> &rarr; <wo:str value="$destinationEntityNamePlural" /></h3>
					<div class="card-actions">
						<wo:link action="$cancel" class="btn btn-sm">Hætta við</wo:link>
					</div>
				</div>
				<div class="card-body">
					<div class="row">
						<div class="col-3">
							<wo:form class="form-search">
								<wo:textfield value="$searchString" id="searchString" class="form-control" placeholder="Leita..." />
							</wo:form>
						</div>
						<div class="col-9" align="right">
							<wo:form>
								<wo:link class="btn btn-sm btn-success" style="margin-bottom: 10px" action="$createObject">Stofna nýja færslu</wo:link>
								<wo:if condition="$relationship.isToMany"> <wo:submit action="$linkSelected" class="btn btn-sm btn-primary" style="margin-bottom: 10px" value="Tengja valdar færslur" /></wo:if><br />
								<strong><wo:str value="$numberOfObjects" /></strong> hlutir fundust<wo:if condition="$hasMultipleBatches">. Síða <wo:popUpButton list="$batches" selection="$currentBatchIndexForDisplay" id="currentBatchIndex" /> af <wo:str value="$numberOfBatches" /> með <wo:textfield value="$batchSize" size="3" id="batchSize" /> hlutum hver</wo:if>
							</wo:form>
						</div>
					</div>
				</div>
				<div class="overflow-x-scroll">
					<wo:form>
						<table class="table table-striped table-sm table-bordered">
							<thead>
								<tr>
									<wo:if condition="$relationship.isToMany"><th width="10"></th></wo:if>
									<th width="10"></th>
									<wo:repetition list="$keyPathsToShow" item="$currentKeyPath">
										<th nowrap><wo:USSort orderings="$orderings" keyPath="$currentKeyPath"><wo:str value="$currentKeyPathDisplayName" /></wo:USSort></th>
									</wo:repetition>
								</tr>
							</thead>
							<tbody>
								<wo:repetition list="$objects" item="$currentObject">
									<tr>
										<wo:if condition="$relationship.isToMany"><td width="10"><wo:checkbox checked="$currentChecked" /></td></wo:if>
										<td width="10"><wo:link action="$selectObject" class="btn btn-sm btn-primary">Velja</wo:link></td>
										<wo:repetition list="$keyPathsToShow" item="$currentKeyPath">
											<td><wo:IMValue object="$currentValue" /></td>
										</wo:repetition>
									</tr>
								</wo:repetition>
							</tbody>
						</table>
					</wo:form>
				</div>
			</div>
		</div>
	</div>
</wo:USEditLook>